# Python
__pycache__/
*.py[cod]
*.log

# Virtual environment
venv/
env/

# Django
db.sqlite3
*.sqlite3
*.pyc

# IDE
.vscode/
.idea/

# Environment variables
.env

# Migrations (не обов'язково, але інколи зручно)
*/migrations/__pycache__/